$orange:#FBB040;
$white: #FDFAF3;
$dark: #171717;
$light: #F9F7F2;



$mainBg: $dark;
$secondBg: $light;
$accentColor: $orange;
$fontColor: $white;
$secondFontColor: $dark;
 
$listColor: $light;

///// Fonts

$mainFont: 'Bison';
$accentFont: 'open sans'; //'MADE Sunflower'
$secondFont: 'Forma DJR Display';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px; 
@mixin sm {
  @media (min-width:$sm) {
    @content
  }
}; 
@mixin md {
  @media (min-width:$md) {
    @content
  }
}; 
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
}; 
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
}; 
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
  