.about-us{
    padding: 50px 0 20px ;
    text-align: center;
    font-family: $secondFont;
    @include lg{
        text-align: left;
        padding: 120px 0 60px;
    }
    .title{
        margin-bottom: 20px;
        @include lg{
            margin-bottom: 30px;
            text-align: left;
        }
    }
    p{
        font-size: 18px;
        line-height: 130%;
        font-weight: 100;
        margin-bottom: 20px;
    }
    &_mobile{
        @include lg{
            display: none;
        }
    }
    &_desktop{
        display: none;
        @include lg{
            display: block;
        }
    }
    &__wrapper{
        @include lg{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    &__text-accent{
        font-family: $accentFont;
        font-size: 20px;
        letter-spacing: 0.1em;
    }
    &__content{
        @include lg{
            width: 35%;
            margin: 0 auto 0 0;
        }
    }
    &__img{
        img{
            margin: 0 auto 25px;
        }
        @include lg{
            margin: 0;
            width: 60%;
            img{
                margin: 0;
            }
        }
    }
}