
body{
  background-color: $mainBg;
  color: $fontColor;
  // for popup noscroll 
}

// footer to bottom
.body , html{
height: 100%; 
min-height: 100vh;
}
.header , footer {
  flex-grow: 0;
}
.main{
  flex-grow: 1;
  overflow: hidden;
}

.footer-to-bottom{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: #fff; 
}

html , body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: inherit;
}

  h1,h2,h3,h4{
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    margin: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }


  
 
 