.blog{
    padding: 50px 0 20px;
    background: $mainBg;
    @include md{
        padding: 120px 0 50px;
    }
    &__block{
        max-width: 1000px;
        margin: 0 auto 55px;
    }
    &__content{
        background: $secondBg;
        color: $secondFontColor;
        border-radius: 0px 0px 25px 0px;
        padding: 10px 14px;
        @include md{
            padding: 35px 45px;
        }
    }
    &__title{
        font-size: 24px;
        margin-bottom: 15px;
        text-align: left;
        @include md{
            font-size: 32px; 
            margin-bottom: 25px;
        }
        @include lg{
            font-size: 36px;
            margin-bottom: 30px;
        }
    }
    &__data{
        font-family: $secondFont;
        opacity: 0.6; 
        font-size: 14px;
        @include md{
            font-size: 18px;
        }
        @include lg{
            font-size: 20px;
        }
    }
    &__img{
        img{
            width: 100%;
            border-radius: 25px 0 0 0;
        } 
    }
    .sub-title{
        margin-bottom: 40px;
        @include md{
            margin-bottom: 50px;  
        }    
    }
    .button{
        width: auto;
        max-width: 300px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
} 