.card-category{
    background: $mainBg;
    margin-bottom: 80px;
    @include md{
        margin-bottom: 100px;
    }
    .sub-title{
        color: $fontColor;
        text-align: left;
        margin-bottom: 15px;
        text-transform: none; 
    }
    .title{
        margin-bottom: 25px; 
    }
    &__wrap{ 
        display: flex;
        @include lg{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__item{
        margin: 5px;
        background: #1e1e1e;
        padding: 30px;
        padding-right: 20px;
        max-width: 400px;
        width: 100%;
        min-height: 280px;
        display: flex;
        justify-content: space-between;
    }
    .button{
        font-size: 16px;
        padding: 12px 24px;
        margin-bottom: 20px;
    }
    &__list{
        font-size: 14px;
        color: $listColor;
        opacity: 0.5;
        letter-spacing: 0.1em;
    }
}