.blog-article {
  position: relative;
  &__post{
    margin-top: 40px;
    margin-bottom: 60px;
    @include md {
      margin-bottom: 120px;
    }
  }
  &__hero {
    margin-bottom: 40px;
    padding: 90px 0 160px;
    position: relative;
    z-index: 1;
    @include lg {
      margin-bottom: 60px;
    }
    &-title {
      padding: 0 30px;
      text-align: center;
      z-index: 2;
      max-width: 900px;
      margin: 0 auto;
      position: relative;
      z-index: 3;
      time {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.8px;
        @include md{
          font-size: 20px;
        }
        @include md{
          font-size: 22px;
        }
      }
      .title{
        font-size: 24px;
        letter-spacing: 0.1px;
        @include md{
          font-size: 32px;
        }
        @include lg{
          font-size: 36px;
        }
      }
      .sub-title {
        color: $accentColor;
        line-height: 1.2;
        font-size: 36px;
        max-width: 250px;
        margin: 53px auto 38px;
        @include sm {
          max-width: none;
        }
        @include md {
          font-size: 48px;
        }
      }
    }
    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
  &__wrapper{
    @include md{
      display: flex;
      justify-content: space-between;
    }
  }
  &__posts{
    max-width: 900px;
    width: 100%;
  }
  &__content {
      figure {
      margin: 10px 0 40px;
      width: 100%;
      max-height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 25px;
      @include lg {
        margin: 10px 0 80px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    p{
      font-family: $secondFont;
      margin-bottom: 15px;
      line-height: 1.2;
      color: #F9F7F2;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.8px;



    }
    h4 {
      text-align: left;
      font-size: 24px;
      margin-bottom: 25px;
      font-family: $mainFont;
      font-weight: 500;
      @include md {
        font-size: 30px;
        margin-bottom: 15px;
      }
    }
  }
  &__content-title{

  }
  &__socials {
    width: 250px;
    // margin-top: 10px;
    @include md{
      order: -1;
    }
    ul {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      @include md{
        flex-direction: column;
        align-items: flex-start;
      }
      p,
      li {
        margin: 10px 6px;
        text-transform: uppercase;
        @include sm {
          margin: 10px 15px;
        }
      }
      p{
        font-size: 14px;
        font-weight: 500;
      }
      li {
        button {
          font-family: inherit;
          font-size: 18px;
          font-weight: 700;
          display: block;
          text-decoration: underline;
          transition: .3s;
          border: none;
          background-color: transparent;
          padding: 0;
          text-transform: uppercase;
          cursor: pointer;
          color: $fontColor;
        }
        &:hover {
          button {
            transform: translateX(3px);
          }
        }
      }
    }
    &.absolute {
      position: absolute;
      ul {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        p {
          font-size: .75rem;
        }
      }
    }
  }
}